body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(233, 230, 207);
    
}
